Assignment2/doc2vec_pvdm.model.wv.vectors.npy
Assignment2/w2v_sgns.model.syn1neg.npy
Assignment2/w2v_sgns.model.wv.vectors.npy
Assignment2/w2v_sgns_1.model.syn1neg.npy
Assignment2/w2v_sgns_1.model.wv.vectors.npy
Assignment2/doc2vec_pvdm.model.syn1neg.npy
Assignment2/enwiki-train.json
